<br/>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h3 class="card-header">Sidebar Data</h3>
            <div class="card-body">
                <ul>
                    <li>Open Claims</li>
                    <li>Recent Claims</li>
                    <li>Unclaimed Claims</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <h2 class="card-header">Claim Stuff Here!</h2>
            <div class="card-body">
                <p class="card-text">Some filler stuff and fluff here...</p>
                <p class="card-text">More filler stuff and fluff here...</p>
            </div>
        </div>
    </div>
</div>