<br />
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <h2 class="card-header">Remit Application Loaded!</h2>
            <div class="card-body">
                <p>This content is part of the Remits application, remotely loaded using module-federation in webpack.</p>
                <p>This application doesn't know anyhting about the shell, navigation bar or any other application in the overall system.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h4>Summary Header</h4>
        <p>Some more fluff and stuff for use in making a pretty website.</p>
    </div>
</div>